{% extends 'bc_admin/master.html' %}
{% import 'bc_admin/lib.html' as lib with context %}
{% import 'bc_admin/static.html' as admin_static with context %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('console.css', file_name='dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block tail %}
{{ super() }}
<script src="{{ url_for('console.js', file_name='dashboard.js') }}"></script>
{% endblock %}


{% block body %}
    <div class="col-md-12">
            <section class="widget">
                <header>
                    <h2>Dashboard <small>Campaign Statics and Overview</small></h2>
                </header>
                <div class="body">

                </div>
            </section>
            <div class="row">
            <div class="col-md-8">
                <section class="widget">
                    <header>
                        <h4 class="col-md-4">
                            <i class="fa fa-globe"></i>
                           Campaign Vitals
                        </h4>
                        <form class="form-inline col-md-8" role="form">
                             <div class="form-group col-md-5 pull-right">
                                <div class="input-group">
                                    <span class="input-group-addon">End:</span>
                                    <input class="form-control" type="text" value="" name=""  placeholder="" data-role="datepicker" data-date-today-highlight="true" data-date-today-btn="linked" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
                                    <span class='input-group-btn'><button type='button' class='btn btn-default btn-clear-datepicker'><i class='glyphicon glyphicon-remove'></i></button></span>
                                </div>
                             </div>
                             <div class="form-group col-md-5 pull-right">
                                 <div class="input-group">
                                    <span class="input-group-addon">Start:</span>
                                    <input class="form-control" type="text" value="" name=""  placeholder="" data-role="datepicker" data-date-today-highlight="true" data-date-today-btn="linked" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
                                    <span class='input-group-btn'><button type='button' class='btn btn-default btn-clear-datepicker'><i class='glyphicon glyphicon-remove'></i></button></span>
                                </div>
                            </div>
                        </form>
                    </header>
                    <div class="body no-margin">
                        <div id="visits-chart" class="chart visits-chart">
                            <svg></svg>
                        </div>
                        <div class="visits-info well well-sm">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="key"><i class="fa fa-eye"></i> Total Visitors</div>
                                    <div class="value">24 541</div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="key"><i class="fa fa-user"></i> Total Backers</div>
                                    <div class="value">14 778</div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="key"><i class="fa fa-money"></i> Total Sales</div>
                                    <div class="value">$3 583.18</div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="key"><i class="fa fa-plus-square"></i> Followers</div>
                                    <div class="value">3000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                 <div class="col-md-12">
                <div class="box">
                   <div class="row">
                       <div class="col-md-12">
                           <div class="row">
                            <form id="select_campaign_form" class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">Select Campaign</label>
                                    <div class="col-sm-8">
                                          <select id="campaign" name="campaign"><option value="{{ campaigns.id }}">{{ campaigns.title }}</option></select>
                                    </div>
                                  </div>
                            </form>
                             </div>
                       </div>
                   </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="{{ campaigns.thumbnail_url }}" width="150" class="pull-left">
                            <h4>{{ campaigns.short_description }}</h4>
                        </div>
                        <div class="col-md-12">
                            <h3><small>Total Funds Raised:</small> {{ campaigns.funded | to_usd }}</h3>
                        </div>
                    </div>
                </div>
            </div>
               <div class="col-md-6">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="description">
                        <strong>14</strong> Days Left
                    </div>
                </div>
            </div>
                <div class="col-md-6">
                <div class="box">
                    <div class="big-text">
                        3.28%
                    </div>
                    <div class="description">
                        <i class="fa fa-money"></i>
                        Funded
                    </div>
                </div>
            </div>
                <div class="col-md-6">
               <div class="box">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="description">
                        <strong>643</strong> Backers
                    </div>
                </div>
            </div>
                <div class="col-md-6">
               <div class="box">
                    <div class="big-text">
                        +512
                    </div>
                    <div class="description">
                        <i class="fa fa-comments"></i>
                        Comments
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

