{% extends "campaign/base.html" %}

{% block content %}
<style>
    span.c1 {
        font-weight: bold;
        margin-top: 40px;
        display: block;
    }
</style>
<main>
    <div class="container">
        <p class="c1"><span>FanBacked.com Privacy Policy</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>FanBacked.com cares about your personal information and knows it is important to make you aware of how it is stored and used. &nbsp;We will not use or share your information with anyone except as described in this Privacy Policy. &nbsp;If you have questions, please contact us at </span><span
                class="c4"><a class="c3"
                              href="mailto:privacy@fanbacked.com">privacy@fanbacked.com</a></span><span>.</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>This Privacy Policy may change occasionally to adapt with our site updates and new features. &nbsp;By using FanBacked.com you are agreeing to the terms of the Privacy Policy that is in effect at the time of your use.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Cookies and analytics: &nbsp;FanBacked.com uses cookies and other tracking tools such as but not limited to Google Analytics and New Relic. We use cookies to store and learn from visitors browsing patterns and data to improve your user experience. &nbsp;We collect data such as browser, operating system, site visitors, and pages visited. Your personal information is not collected with cookies, but may be linked to any personal information you provided while creating your account.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1">
            <span>Personal information can be collected or provided by you in some of the following ways:</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Registration for a FanBacked.com Account</span></p>

        <p class="c1"><span>Making a contribution to a Campaign</span></p>

        <p class="c1"><span>Communicating via customer service requests, inquiries, or other communication</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Personal Information posted publicly on campaign pages such as your personal profile, comments, and contribution history will remain viewable without any expectation of privacy or confidentiality unless otherwise specifically stated. &nbsp;Contributions made to campaigns have the option to be made anonymously.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Using Your Personal Information</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Personal information collected or posted publicly may be used to support, maintain, and enhance your experience using FanBacked.com. </span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>We do not sell your personal information to third parties. We may occasionally share your personal information with third parties as required in some of the following ways:</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>If required by law, legal processes, or reporting</span></p>

        <p class="c1">
            <span>For an investigation of fraud or any unlawful activity as we deem reasonably necessary</span></p>

        <p class="c1"><span>If you contribute to a campaign, we will share your name, email, and shipping address with the Campaign Owner to deliver your rewards.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>If you create a campaign, we may share your contact information with any Backer as needed to resolve conflicts related to the campaign.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Protecting your Personal Information</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Your personal information will be stored using SSL encryption to protect sensitive data such as your email address and password. &nbsp;We will never store your credit card numbers in our database. &nbsp;The physical location of the data may be held in places not under our direct control such as hosted servers that hold our website database.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>User Terms and Access</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>You may elect to change, update, or remove your personal information from your user account under your profile page. &nbsp;Additionally to be removed from our service entirely / delete your account contact us directly at privacy@fanbacked.com.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>By using our service you agree to receive service related notifications via email as we deem necessary and as required by law.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Upon registration you may choose to agree to receive promotional emails, newsletters, campaign updates, and special offers related to our service and campaigns you have contributed to. &nbsp;You may change your subscription preferences at any time from the “settings” tab in your user profile however, unsubscribing may prevent you from receiving email messages regarding site updates and improvements.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Fanbacked.com does not intentionally collect personal information from anyone under the age of 13. &nbsp;If you are under 13 years of age do not submit any personal information to our service or create an account. &nbsp;If you are between the ages of 13 and 17, adult supervision and consent is required to use our services. </span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Privacy Concerns and Contact Information</span></p>

        <p class="c1"><span>If you have any concerns about our Privacy Policy please contact us at </span><span
                class="c4"><a class="c3" href="mailto:privacy@fanbacked.com">privacy@fanbacked.com</a></span></p>
    </div>
</main>


{% endblock %}