{% extends "campaign/base.html" %}

{% block content %}
        <style>
            .form-group .error{
                color: red;
            }

            #checkout-wizard .payment-form {
                padding: 15px;
                border: 1px solid white;
                background-color: rgba(29, 29, 29, 0.5);
            }
        </style>
        <script type="text/javascript" src="https://static.wepay.com/min/js/tokenization.v2.js">
</script>
<script type="text/javascript">
    WePay.set_endpoint("stage"); // change to "production" when live

function chargeCard(){
        var response = WePay.credit_card.create( {
            "client_id":129623,
            "user_name":document.getElementById('payment-name').value,
            "email":document.getElementById('payment-email').value,
            "cc_number":document.getElementById('cc-number').value,
            "cvv":document.getElementById('cc-cvv').value,
            "expiration_month":document.getElementById('cc-month').value,
            "expiration_year":document.getElementById('cc-year').value,
            "address":
                {
                    "zip":document.getElementById('zip').value
                }
        }, function(data) {
            console.log(data);
            if (data.error) {
                console.log(data);
                // handle error response
            } else {
                // call your own app's API to save the token inside the data;
			// show a success page
            }
        } );
    console.log(response);
 }
</script>
<main>
   		<div class="container" id="checkout-wizard">
	   		<div class="row">
	   			<div class="col-sm-6 col-sm-offset-3 navigation">
	   				<ul class="steps">
	   					<li>
	   						<span>1</span>
	   						Contribute
	   					</li>
	   					<li>
	   						<span>2</span>
	   						<b>Pay</b>
	   					</li>
	   					<li>
	   						<span>3</span>
	   						Earn Rewards
	   					</li>
	   				</ul>
	   			</div>
	   		</div>
	   		<div class="tab-content">
				<div>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 payment-form">
                            <form>
                                <div class="row">
                                    <div class="col-md-7">
                                         <div class="form-group">
											<label>Email*</label>
											<input type="text" id="payment-email" class="form-control">
										</div>
                                    </div>
                                </div>
								<div class="row">
									<div class="col-md-7">
										<div class="form-group">
											<label>Cardholder Name*</label>
											<input type="text" id="payment-name" class="form-control">
										</div>
									</div>
                                </div>
                                <div class="row">
									<div class="col-md-7">
										<div class="row">
											<div class="col-xs-7">
												<div class="form-group">
													<label>Card Number*</label>
													<input type="text" id="cc-number" class="form-control">
												</div>
											</div>
											<div class="col-xs-5">
												<div class="form-group">
													<label>CVV/Security Code*</label>
													<input type="text" id="cc-cvv" class="form-control">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label>Expiration Date*</label>
											<div class="row">
												<div class="col-xs-3">
													<input type="text" id="cc-month" class="form-control">
												</div>
												<div class="col-xs-3">
													<input type="text" id="cc-year" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
											<label>Zip/Postal Code*</label>
											<input type="text" id="zip" class="form-control">
										</div>
                                    </div>
                                </div>

							</form>
                            <button class="btn btn-default btn-next-2 center-block" onclick="chargeCard(); return false;">Confirm Payment</button>
								<p class="text-center">(and continue to earn Free Rewards)</p>
						</div>
					</div>
				</div><!-- #tab-contribute -->
			</div><!-- .tab-content -->
   		</div><!-- .container -->
 </main>
{% endblock %}