{% extends "campaign/base.html" %}

{% block content %}
<style>
    span.c1 {
        font-weight: bold;
        margin-top: 40px;
        display: block;
    }
</style>
<main>
    <div class="container">
        <p class="c1"><span>Our Terms of Use govern your use of FanBacked and our “Service”. By using our Service, you agree to these Terms of Use, our Privacy Policy, and all applicable laws</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>For the purpose of these Terms of Use and throughout our website we define the following terms:</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>"Campaign Owners" (also referred to as “Producers” or “Campaign Creators”) are users who are fundraising using the FanBacked platform.</span>
        </p>

        <p class="c1"><span>“Campaigns” (also referred to as “Projects”) are pages on Fanbacked that provide the opportunity for Campaign Owners to fundraise on our platform.</span>
        </p>

        <p class="c1">
            <span>“Contributions” are monetary funds offered to Campaign owners in support of their Campaigns.</span>
        </p>

        <p class="c1">
            <span>"Contributors" (also referred to as “Backers”) are users who contribute funds to Campaigns.</span></p>

        <p class="c1"><span>“Rewards” are both tangible and intangible gifts that can be offered to Contributors.</span>
        </p>

        <p class="c1"><span>“Users” are all visitors to FanBacked including Backers, Campaign Owners, and visitors that are not logged in to our Service.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Use of Service Eligibility</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>You are not eligible to use our Service without legal guardian consent if you are younger than 18 years of age. &nbsp;If you are between the ages of 13 and 17, legal guardian supervision and consent to Terms of Use is required to use our Service. &nbsp;We reserve the right to refuse use of our Service to anyone and to suspend, cancel, or remove a Campaign at any time at our sole discretion without liability. &nbsp;All information you provide to FanBacked is to be truthful and accurate in regard to your account, registration, profile, and other communication. &nbsp;If you believe your account has been modified or accessed without your permission or any information has been altered you agree to notify FanBacked immediately with notice of any irregularities or potential account security issues. &nbsp;You agree to provide additional information to verify your account as required to continue use of our Service.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Campaign Creation</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Campaigns are not allowed to be created by Campaign owners for illegal, offensive, or harmful activities. &nbsp;Campaign owners are not allowed to misrepresent or make potentially fraudulent claims. &nbsp;If you are not able to deliver on your Campaign promises or you are trying to collect contributions for an impossible task do not create a campaign. &nbsp;Campaign Owner identity may need to be verified along with any other Campaign information. &nbsp;We reserve the right to cancel, withhold, delay, or refund any Contributions made to your Campaign if we are unable to verify and confirm the validity of your identity or Campaign at any time.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Campaign Rewards</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Rewards are not offered for sale, and FanBacked accepts no liability for the quality or legality of any Campaign, Reward, Contribution. &nbsp;Rewards are offered directly by Campaign Owners. &nbsp;FanBacked does not accept liability for Rewards that are misrepresented or not delivered by Campaign Owners as described in Campaigns. &nbsp;Users contribute to campaigns at their own risk. Campaign Owners are not allowed to offer any illegal, hateful, or harmful items as Rewards. &nbsp;This includes but is not limited to alcohol, drugs, controlled substances, paraphernalia, or weapons. &nbsp;Additionally, at this time, Campaigns are not able to offer ownership or equity in a company or project. </span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Community Guidelines and Spam Policy</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Do not spam or post unnecessarily in the comments section of campaigns or while messaging other users privately. &nbsp;Do not attempt to game, hack, or misuse the Service for personal promotion or in ways not intended by the platform. &nbsp;This includes posting offensive images and making offensive comments to other Users or on Campaigns. We reserve the right to remove any Campaign or remove any User account that has caused such violation at our sole discretion.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Resolving Campaign Owners and Contributor Disputes</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>In the event of a dispute between Campaign Owners and Contributors, FanBacked will provide contact information for relevant parties for the issue to be resolved between the parties. &nbsp;FanBacked does not accept liability or attempt to resolve any disputes that may arise as a result of using our Service to create or Contribute to a Camapaign.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Campaign Owners</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Campaign Owners may offer rewards to Contributors with the understanding that all commitments or promises made in your campaign to deliver Rewards will be fulfilled by you, the Campaign Owner. &nbsp;Campaign Owners accept all liability for Rewards offered including, Backer communication, issue resolution, taxes, and other regulations. &nbsp;Campaign Owners must be available to communicate promptly and truthfully with any Backers who have made Contributions to your campaign. &nbsp;In the event that you are unable to fulfill any of your rewards you may need to refund any Contributions made to Backers of your campaign or mutually agree to resolve any disagreement directly with Backers in some other way.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Backers</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Backers are responsible for doing their own research on Campaigns and Campaign Owners they elect to Contribute towards. &nbsp;Ask questions and make comments if you are unsure about the Campaign or want more information from a Campaign Owner. &nbsp;All Contributions made are voluntarily and at your sole choice or discretion and you accept all responsibility for potential tax implications or legalities associate with Rewards earned. FanBacked does not guarantee that any Campaign will be able to deliver rewards or reach their Contributions goal. Additionally, FanBacked does not provide warranty for or about any Campaign, Campaign Owner, Reward, or claim made by a Campaign owner using our Service.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Campaign Fees and Contribution Payments</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Creating an account to browse our Service is free. Contributors, are not charged fees by our Service to contribute to campaigns, but Campaign Owners are charged fees as a portion of the funds they raise. By using our Service you agree to the fees structure outlined here: </span><span
                class="c2">(LINK TO FAQ PAGE)</span><span>&nbsp;and accept that changes to fees can be made at any time, but will only apply to Campaigns launched after the change has been made. &nbsp;You are responsible for researching and paying any applicable taxes related to Contributions raised using our Service. &nbsp;Contributions, our Service fees, and merchant charges, are not refundable. &nbsp;In the situation where a Campaign Owner is unable to deliver Rewards for Contributions made to a Campaign, specific refunds may be issued to Contributors by Campaign Owners. &nbsp;FanBacked does not facilitate this communication or these transactions. &nbsp;</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Taxes</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Your local, state, or federal regulations may consider Contributions to your campaign on FanBacked as taxable income to you and anyone who will receive funds directly from your Campaign. We will ask you for your tax identification number (TIN) and the TIN of any beneficiary of your Campaign so that we may report taxable income to the relevant taxing authorities. We will provide you with a tax document if required by the relevant taxing authorities. We encourage you to consult with a licensed tax advisor from your local jurisdiction when planning your Campaign so that you understand and prepare for the tax obligations you may incur from the funds you raise.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Posted Content</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>You may post images, videos, text, or other content on our Service as a Campaign Owner or Contributor. You grant FanBacked a perpetual, non-exclusive, royalty-free, transferable, sublicensable, worldwide license to use, publicly display, publicly perform, store, reproduce, modify, create derivative works, and distribute your content &nbsp;on or in connection with our Service and our related marketing and promotional activities. You continue to have ownership of this content, but grant FanBacked these rights to use your content as needed. As such, by posting content you represent that you are not using any content that infringes on other copyright or intellectual property laws. &nbsp;Doing so is considered a violation of this Terms of Use and you accept all liability for use of infringing content.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Third-Party Websites</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Our Service may contain links to third-party websites such as Social Media sites that are not owned by FanBacked. Access of these third-party sites is at your own risk. &nbsp;We are not responsible for any harm or damage that may be a result of visiting a third party site.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Indemnity</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>You agree to indemnify and hold harmless FanBacked, affiliated companies, and all officers, directors, employees, and contractors from and against any and all losses, liabilities, damages, costs, and attorneys fees, resulting, whether directly or indirectly, from your violation our Terms of use. You also agree to indemnify and hold harmless FanBacked from and against any and all claims brought by third parties arising out of your use of our Service in any way.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>No Warranty</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>TO THE FULLEST EXTENT PERMITTED BY THE APPLICABLE LAW, OUR SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY WARRANTIES OF ANY KIND INCLUDING, WITHOUT LIMITATION, WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON INFRINGEMENT. USE OF OUR SERVICE IS AT YOUR OWN RISK.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Waiver and Release</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>If you are a resident in a jurisdiction that requires a specific statement regarding waiver and release then the following applies. For example, California residents must, as a condition of this Agreement, waive the applicability of California Civil Code Section 1542, which states: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR." You hereby waive this section of the California Civil Code and any similar provision in law, regulation or code that has the same effect or intent as the foregoing release.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Limitation of Liability</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>EXCEPT ONLY TO THE EXTENT REQUIRED BY LAW, IN NO SITUATION WILL FANBACKED, ITS OFFICERS, DIRECTORS, EMPLOYEES, AFFILIATES OR AGENTS BE LIABLE TO YOU ON ANY LEGAL THEORY FOR ANY PHYSICAL OR EMOTIONAL DAMAGES THAT MAY ARISE WITH A CONNECTION TO OUR SERVICE. &nbsp;EVEN IN THE CASE THAT FANBACKED HAS BEEN MADE AWARE OF THE POSSIBILITY OF SUCH DAMAGES.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>For jurisdictions that do not allow us to limit our liability, with the exception of provisions in our Terms of Use, our liability is limited to the smallest extent possible by law. &nbsp;</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>English Language</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>All disputes, claims, and issues that arise or may need arbitration to be resolved will be communicated in English.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Export Compliance</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>You agree to comply with all laws and regulations related to exporting products or information. Funds may be frozen or issued to the applicable governmental enforcement agency if a Campaign is deemed to be in violation of export laws.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Changes to Terms</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>These Terms of Use may change occasionally to adapt with our site updates and new features. &nbsp;By using our Service you are agreeing to the Terms of Use that is in effect at the time of your use. &nbsp;Any major changes to our policy will be published on our website and sent via email notification to our users at our discretion as we see fit.</span>
        </p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>Contact Us</span></p>

        <p class="c0"><span></span></p>

        <p class="c1"><span>If you have any questions or concerns about our Terms of Use please contact us at support@fanbacked.com.</span>
        </p>
</main>


{% endblock %}