<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link href="/console/static/console/css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script src="/console/static/console/lib/jquery/jquery-2.0.3.min.js"> </script>
<script src="/console/static/console/lib/jquery-pjax/jquery.pjax.js"></script>
    <script src="/console/static/console/lib/backbone/underscore-min.js"></script>
    <script src="/console/static/console/js/settings.js"> </script>
</head>
<body>
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>Reset Password</h4>
        </header>
        <div class="body">
            <form class="no-margin"
                  action="" method="post">
                {{ form.csrf_token }}
                <input type="hidden" value="{{ reset_hash }}" name="reset_hash" />
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div class="alert alert-danger">
                    {% for message in messages %}
                      {{ message }} <br />
                    {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
                <fieldset>
                    <div class="form-group no-margin">
                        <label for="password" >Password</label>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            <input name="password" id="password" type="password" class="form-control input-lg"
                                   placeholder="Your Password">

                        </div>
                        {% for e in form.confirm.errors %}
                                        <p class="bg-danger">{{ e }}</p>
                                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="confirm" >Confirm Password</label>

                        <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock"></i>
                                </span>
                            <input name="confirm" id="confirm" type="password" class="form-control input-lg"
                                   placeholder="Confirm Password">

                        </div>
                        {% for e in form.confirm.errors %}
                                        <p class="bg-danger">{{ e }}</p>
                                        {% endfor %}
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-block btn-lg btn-danger">
                        <span class="small-circle"><i class="fa fa-caret-right"></i></span>
                        <small>Reset Password</small>
                    </button>
                    <div class="forgot"><a class="forgot" href="/{{ admin_name }}/login">Remember your password?</a></div>
                </div>
            </form>
        </div>
    </section>
</div>
</body>
</html>