<span style="font-family:arial,helvetica neue,helvetica,sans-serif">Hi [BACKER NAME],<br />
<br />
Congratulations on joining the super fans that have contributed to [CAMPAIGN OWNER] and are bringing this project one step closer to production.<br />
<br />
Here is a summary of your contribution:<br />
<br />
<strong>Contribution Summary </strong><br />
Amount Contributed: [DOLLAR AMOUNT] USD<br />
Reward Selected: [TITLE OF REWARD]<br />
Estimated Delivery: [ESTIMATED DELIVERY]<br />
Shipping Information: [SHIPPING ADDRESS] (or N/A If doesn&rsquo;t apply to reward chosen)<br />
<br />
When your reward is ready, [CAMPAIGN OWNER] will send an update via email to let you all know the status of the campaign and what to expect next!<br />
<br />
<strong>Don&#39;t forget the Free Bonus Reward! </strong>When your friends also back this campaign you will receive the Free Bonus Reward listed for this campaign available only to the most loyal fans that help spread the word about this campaign. Copy your unique sharing link below and post to your social networks!<br />
<br />
[UNIQUE SHARE URL]<br />
<br />
Thanks,<br />
The FanBacked Team</span>