<span style="font-family:arial,helvetica neue,helvetica,sans-serif">Hi there,<br />
<br />
We noticed you did not complete your contribution to [CAMPAIGN TITLE]: by [CAMPAIGN OWNER NAME].<br />
<br />
If you meant to do this no action is needed.<br />
<br />
If you&rsquo;d like to pick up where you left off and complete your contribution, please click here. [LINK TO CAMPAIGN PAGE]<br />
<br />
Thanks for supporting your favorite producers,<br />
The FanBacked Team<br />
<br />
<span style="font-size:11px">Have a question? Reply to this email or contact <a href="mailto:support@fanbacked.com" target="_blank">support@fanbacked.com</a>.</span></span>