<span style="font-family:arial,helvetica neue,helvetica,sans-serif">Thanks for attempting to make a contribution to [CAMPAIGN OWNER]: [CAMPAIGN TITLE]<br />
<br />
Unfortunately, we were unable to process your credit card transaction to complete your contribution.<br />
<br />
To avoid missing out on your rewards and helping support the success of this project please log in to your dashboard [LINK TO LOGIN PAGE -REDIRECT TO CAMPAIGN CHECKOUT STEP 2 AFTER LOGIN?] and update your payment information.<br />
<br />
Thanks,<br />
The FanBacked Team</span>