<span style="font-family:arial,helvetica neue,helvetica,sans-serif">Thanks for supporting the FanBacked community!<br />
<br />
Look forward to an email from [CAMPAIGN PRODUCER NAME] as well thanking you for your participation and providing updates on rewards delivery.<br />
<br />
Continue to check back and post comments on the campaign page. [LINK TO CAMPAIGN PAGE]<br />
<br />
Producers will be posting updates there as well and continue to engage with fans that have supported the campaign.<br />
<br />
Thanks,<br />
The FanBacked Team</span>