<span style="font-family:arial,helvetica neue,helvetica,sans-serif">Hi {{ user.first_name }} {{ user.last_name }},<br />
<br />
Thanks for joining our community. Your FanBacked Producer account has been created.<br />
<br />
Your login is {{ user.email }}<br />
Your profile link is {{ profile_url }}<br />
<br />
Get started by Creating your first Project <a href="{{ create_url }}">Here</a> or Backing an existing Project {{ homepage_url }} to learn more about our platform and how we connect Producers with their Fans!<br />
<br />
Thanks,<br />


The FanBacked Team</span>