<span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span>Hi [CAMPAIGN OWNER FIRST NAME],<br />
<br />
Congratulations on running a successful campaign and raising funds on FanBacked. &nbsp;Now that your campaign has ended, if your bank account information is set up correctly in your profile, your funds will be delivered, if they have not already.<br />
<br />
Here are a few steps to take to keep your fan community engaged:<br />
<br />
1) Send a final thank you to all of your contributors and let them know you are hard at work to launch your project as well as fulfill all the rewards promised for their contributions<br />
<br />
2) Let your contributors know you will continue to post updates on your campaign page as your project continues to be developed and be sure to keep replying to any comments or private messages that may come through from your fans.<br />
<br />
3) Consider converting your campaign to an Evergreen Campaign to continue raising funds. This will allow you to create new rewards and reopen your campaign page to keep accepting contributions. You spent a lot of time and effort driving traffic to this page, why stop now if fans are still willing to support you.<br />
<br />
Once again, congratulations for launching a successful campaign and let us know if we can help!<br />
<br />
Thanks,<br />
The FanBacked Team<br />
<br />
<span style="font-size:11px">Have a question? Reply to this email or contact <a href="mailto:support@fanbacked.com" target="_blank">support@fanbacked.com</a>.</span></span>