<span style="font-family:arial,helvetica neue,helvetica,sans-serif">Dear {{ user.first_name }},<br />
<br />
Thanks for being a part of the FanBacked community.<br />
<br />
Your current campaign: {{ campaign.title }} has ended.<br />
<br />
Unfortunately you did not reach your goal. Consider relaunching your project with a flexible funding model or a no goal campaign to be able to keep any funds raised toward your goal.<br />
<br />
Consider adding our campaign management service this time around and our expert team will help you with best practices for social media engagement, email list management, and reward structures to maximize your funds raised.<br />
<br />
Login to your dashboard {{ login_url }} and Edit your campaign to add this additional service.<br />
<br />
Thanks,<br />
The FanBacked Team</span>