<span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span>Hi [CAMPAIGN OWNER NAME],<br />
<br />
Congratulations on launching your fundraising campaign, [CAMPAIGN TITLE]<br />
<br />
Here are some tips for making the most of online financing after launch:<br />
<br />
<strong>1) Check out other projects</strong><br />
See how you stack up against the competition and what worked for others.<br />
<strong>2) Contact us for Campaign Management Service</strong><br />
Our expert team has launched more than 100 projects and raised more than 40 Million in online crowdfunding. Let our experts help craft your rewards, marketing plan, and offer suggestions to maximize your campaign raise.<br />
<strong>3) Back a Project</strong><br />
Get a feel for the backer experience and learn what excites you about supporting other projects.<br />
<strong>4) Share with your friends</strong><br />
Share your project idea and structure with your friends. It will help start spreading the word about your campaign and you will get some quality feedback!<br />
<br />
Thanks,<br />
The FanBacked Team<br />
<br />
<span style="font-size:11px">Have a question? Reply to this email or contact <a href="mailto:support@fanbacked.com" target="_blank">support@fanbacked.com</a>.<br />
Looking for more? Browse our Featured Projects section for some of our favorite campaigns. [LINK TO HOMEPAGE]</span></span></span>